!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{name:"google-site-verification", content:"ZoY_M4bktw6u_H79LIKg0bmUrrLrRBz7xjE30WkPkIE"}
		%meta{charset:"utf-8"}
		%title Amigurumis hecho con amor
		%meta{name:"decription", content:"Los Mejores amigurumis."}
		%link{rel:"shortcut icon", href:"/img/logo.ico"}
		%link{href:"https://fonts.googleapis.com/css?family=Dancing+Script:400,700", rel:"stylesheet", type:"text/css"}
		
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.2/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"css/style.css"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%script{src:"/js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class:"browserupgrade"}
		Estas usando un navegador 
		%strong desactulizado.
		Por favor 
		%a{:href => "http://browsehappy.com/"}
		actualiza tu navgador 
		para una mejor experiencia
		="<![endif]-->"
		.video-container
			%video{autoplay:true,loop:true,width:"1280",heigth:"720",poster:"videos/imagenes/paint.jpg"}
				%source{src:"/videos/mp4/paint.mp4",typ:"video/mp4"}
				%source{src:"/videos/webm/paint.webm",typ:"video/webm"}
		.row.full-height.middle-xs.center-xs.relative.up
			.col-xs-12
				.box.texto-blanco.texto-blanco
					%img{src:"/img/logo.jpg", width:300}
					%h1.dancin-script.titulo.auto-margen Amigurumis Hecho con amor.
					%p#is-open
						%i.glyphicon.glyphicon-time
						Abierto ahora
			%nav.fixed.top.right.texto-blanco.navigation#navigation
				-menu = ["Inicio", "Menú", "Galería", "Contacto", "Cómo llegar"]
				%ul.list-inline
					-menu.each do |item|
						%li
							%a= item
			.absolute.negro.large-padding.texto-blanco.full-width#description 
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.texto-blanco.medium
						Calidad Garantizada Productos 100% Artesanales
					.col-xs#sticky-navigation
						.box
							%nav.text-ringt.navigation
								%ul.list-inline
									-menu.each do |item|
										%li
											%a{}= item

		.full-height


		%script{src:"https://code.jquery.com/jquery-3.1.1.min.js", integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin:"anonymous"}
		%script
			window.jQuery || document-write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>")
		%script{src:"/js/main.js"}
  