{
  "name": "pagina",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/main.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 10
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 2000000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "93.188.160.201",
      "port": 21,
      "user": "u181286256",
      "password": "elosegui_1"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/dist/main.js"
    ],
    "history": [
      {
        "file": "css/bootstrap.css",
        "ctime": "2017-03-14T17:54:44.666Z",
        "mtime": "2017-03-14T07:12:15.207Z",
        "size": 51335
      },
      {
        "file": "css/normalize.css",
        "ctime": "2017-03-14T17:54:44.666Z",
        "mtime": "2013-04-08T00:41:58.000Z",
        "size": 9802
      },
      {
        "file": "index.html",
        "ctime": "2017-03-20T07:07:52.196Z",
        "mtime": "2017-03-20T07:07:52.196Z",
        "size": 3712
      },
      {
        "file": "img/logo.jpg",
        "ctime": "2017-03-14T17:54:44.645Z",
        "mtime": "2017-03-12T23:10:16.868Z",
        "size": 44509
      },
      {
        "file": "img/logo.ico",
        "ctime": "2017-03-14T17:54:44.645Z",
        "mtime": "2017-03-14T04:35:35.348Z",
        "size": 4286
      },
      {
        "file": "css/style.css",
        "ctime": "2017-03-20T07:03:00.973Z",
        "mtime": "2017-03-20T07:03:00.973Z",
        "size": 7230
      },
      {
        "file": "fonts/glyphicons-halflings-regular.eot",
        "ctime": "2017-03-14T17:54:44.634Z",
        "mtime": "2017-03-14T07:07:22.000Z",
        "size": 20127
      },
      {
        "file": "fonts/glyphicons-halflings-regular.svg",
        "ctime": "2017-03-14T17:54:44.635Z",
        "mtime": "2017-03-14T07:07:22.000Z",
        "size": 108738
      },
      {
        "file": "fonts/glyphicons-halflings-regular.ttf",
        "ctime": "2017-03-14T17:54:44.635Z",
        "mtime": "2017-03-14T07:07:22.000Z",
        "size": 45404
      },
      {
        "file": "fonts/glyphicons-halflings-regular.woff",
        "ctime": "2017-03-14T17:54:44.636Z",
        "mtime": "2017-03-14T07:07:22.000Z",
        "size": 23424
      },
      {
        "file": "fonts/glyphicons-halflings-regular.woff2",
        "ctime": "2017-03-14T17:54:44.636Z",
        "mtime": "2017-03-14T07:07:22.000Z",
        "size": 18028
      },
      {
        "file": "js/bootstrap.js",
        "ctime": "2017-03-14T17:54:44.680Z",
        "mtime": "2017-03-14T07:07:22.000Z",
        "size": 3107
      },
      {
        "file": "js/vendor/jquery-1.12.0.min.js",
        "ctime": "2017-03-14T17:54:44.681Z",
        "mtime": "2016-01-12T19:12:52.000Z",
        "size": 97362
      },
      {
        "file": "js/vendor/modernizr-2.8.3.min.js",
        "ctime": "2017-03-14T17:54:44.681Z",
        "mtime": "2016-01-12T19:12:52.000Z",
        "size": 15514
      },
      {
        "file": "videos/imagenes/paint.jpg",
        "ctime": "2017-03-14T17:54:44.694Z",
        "mtime": "2016-10-31T10:04:06.000Z",
        "size": 150489
      },
      {
        "file": "videos/mp4/paint.mp4",
        "ctime": "2017-03-14T17:54:44.695Z",
        "mtime": "2016-10-31T09:59:38.000Z",
        "size": 4560771
      },
      {
        "file": "videos/webm/paint.webm",
        "ctime": "2017-03-14T17:54:44.696Z",
        "mtime": "2016-10-31T10:10:12.000Z",
        "size": 5128013
      },
      {
        "file": "js/main.js",
        "ctime": "2017-03-20T07:13:22.046Z",
        "mtime": "2017-03-20T07:13:22.046Z",
        "size": 1017
      },
      {
        "file": "dist/main.js",
        "ctime": "2017-03-20T07:13:22.339Z",
        "mtime": "2017-03-20T07:13:22.339Z",
        "size": 656
      },
      {
        "file": "dist/main.js.map",
        "ctime": "2017-03-20T07:13:22.323Z",
        "mtime": "2017-03-20T07:13:22.323Z",
        "size": 72
      },
      {
        "file": "googlefab8a693e2b1a971.html",
        "ctime": "2017-03-20T07:22:55.835Z",
        "mtime": "2017-03-18T21:18:05.048Z",
        "size": 53
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}